<h1>Display your Pirate here</h1>
  <p>Name: <%= @pirate.name %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p>

<h2>Display your first ship here</h2>
  <p>Name: <%= @ship.name %></p>
  <p>Type: <%= @ship.weight %></p>
  <p>Booty: <%= @ship.height %></p>

<h2>Display your second ship here</h2>
<p>Name: <%= @ship.name %></p>
<p>Type: <%= @ship.weight %></p>
<p>Booty: <%= @ship.height %></p>

<h1>Ships</h1>
<% @ships.each do |ship| %>
  <p>Name: <%= course.name %></p>
  <p>Type: <%= course.type %></p>
  <p>Booty: <%= course.booty %></p>
<% end %>
